---
---
<div class="fixed top-0 left-0 w-full h-1 z-50">
  <div class="scroll-progress h-full bg-accent-secondary transform origin-left"></div>
</div>

<script>
  import { setupScrollProgress } from '../utils/scrollAnimations';
  
  document.addEventListener('DOMContentLoaded', () => {
    setupScrollProgress();
  });
</script>